
body {
    margin: 0;
}

section {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border: none;
    color: white;
    background: rgba(40, 40, 40);
    transition: background 0.75s ease-in-out;
}


button:hover {
    background: rgb(186, 69, 69);
}

nav {
    min-height: 10vh;
    background: rgba(40, 40, 40);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all  0.55s ease-in-out;



}

.nav-slide {

    transform: translateY(-100%);

}
p{
    opacity: 1;
    transition: all 0.5s ease-out 0.5s;
}

.fade{
    opacity: 0;
}